*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
        min-width: 100%;
        align-items: center;
        height: auto;
        justify-content: center;
        display: flex;
}

.container{
    align-items: center; 
    display:flex;
     justify-content: center; 
     flex-direction:column
}

.container h1{
    font-size: 50px;
    padding:2rem;
    font-family: 'Poppins', sans-serif;
    color:black;
}

.info{
    display: flex;
    
    flex-direction:column;
}

.info img{
    width:300px;
    border-radius:5px
}



.texto{
    font-weight:500;   
     font-size: 18px;
     min-width: 300px; 
     padding:2rem;
     justify-content:center; 
     display:flex;
      text-align:justify;
      width:50%;
      height: 40%;
}