
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-width: 100%;
    align-items: center;
    height: auto;
    justify-content: center;
    display: flex;
}



.propaganda{
    margin: 2rem;
    
}

.propaganda img{
    width: 700px;
    
}


#imagem1,
#imagem2,
#imagem3 {
    max-width: 100%;
    
}

#imagem1{
    background-image: url("https://images.unsplash.com/photo-1660905419009-afd212d92546?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2664&q=80");
    background-size: cover;
    background-repeat: no-repeat;

}   

#mudar1 p{
    padding: 2rem;
    overflow-x: hidden;
    border-radius: 20px;
    background-color: #ffffffa6;
    border: 3px solid black;
    color: black;
}




#imagem2{
    background-image: url("https://images3.alphacoders.com/772/772613.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

#imagem3{
    background-image: url("https://images.unsplash.com/photo-1434596922112-19c563067271?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80");
    background-size: cover;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center;
}



.containerproje{
    position: relative;
    overflow-x: hidden;

}

.containerproje .slide-container .slide{
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 9%;
    padding-bottom: 70px;
}

.containerproje .slide-container .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
{
    opacity: 0;
    transform: translateX(-50px);
}
}


.containerproje .slide-container .slide .contentproje h3{
    font-size: 35px;
    color: #f4a6fe;
    
}

.containerproje .slide-container .slide .contentproje p{
    text-align: justify;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    width: 50%;
    height: 10%;

}

.containerproje .slide-container .slide .contentproje .bntproj{
    margin-top: 10px;
    display: inline-block;
    background: #8932c3;
    color: #ffffff;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid #8932c3;
   
    text-decoration: none;
}

.containerproje .slide-container .slide .contentproje .bntproj:hover{
    background: #a355d7;
    border: 2px solid #a355d7;
    color: #ffffff;
}

.containerproje .slide-container{
    display: none;
}

.containerproje .slide-container.active{
    display: block;
}

.containerproje .slide-container:nth-child(1) .slide{
    background: url(./imagens/medium-shot-man-wearing-vr-glasses.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje .slide-container:nth-child(2) .slide{
    background: url(./imagens/woman-in-vr-glasses-float-in-neon-space-with-cables-attached-to-her-metaverse-avatar-concept.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje .slide-container:nth-child(3) .slide{
    background: url(./imagens/closeup-of-woman-in-vr-glasses-float-in-neon-space-with-cables-attached-to-her-metaverse-avatar-concept.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje #prev, 
.containerproje #next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #ffffff;
    background: #890873;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.containerproje #prev:hover, 
.containerproje #next:hover{
    background: #ee7bd3;
}
.containerproje #prev{
    left: 20px;
}

.containerproje #next{
    right: 20px;
}



@media(max-width: 500px){
    .containerproje #prev{
        left: 0px;
        top: 60%;
    }

    .containerproje #next{
        right: 0px;
        top: 60%;
    }


    .containerproje .slide-container .slide .contentproje p{
        font-size: 16px;
        color: #ffffff;
       
        width: 70%;
        height: 10%;
    
    }
}









